@import './variables';

body {
  background-color: var(--light-gray);
  width: 100vw;
  height: 100vh;
}

.container {
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  display: flex;
  border-radius: 4px;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  border: 2px solid var(--dark-gray);
}

.chat {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
}

label {
  padding-left: 10px;
}

#screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  font-size: 16px;
  background: var(--white);
}

input {
  width: 90%;
  margin: 10px;
  font-size: 16px;
  border-radius: 4px;
  padding: 0.5em 0.75em;
  background-color: var(--white);
  border: 2px solid var(--dark-gray);
}

.message {
  display: flex;
  padding: 10px;
  height: fit-content;
}

.new {
  background: var(--gray);
}

.animation-container {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

#typing-indicator {
  display: flex;
  margin: 5px 10px;
  width: fit-content;
  padding: 7px;
  background-color: var(--ti-color-bg);
  will-change: transform;
  border-radius: 50px;
  position: relative;
  animation: 2s bulge infinite ease-out;
}

#typing-indicator > span {
  height: 8px;
  width: 8px;
  float: left;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

#typing-indicator > span:nth-child(1) {
  animation: blink 1s infinite;
}

#typing-indicator > span:nth-child(2) {
  animation: blink 2s infinite;
}

#typing-indicator > span:nth-child(3) {
  animation: blink 3s infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
