@import './variables';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--light-gray);
  margin: 0;
  box-sizing: border-box;
}

.join {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 400px;
    position: absolute;
    background-color: var(--white);
    transform: translate(-50%, -50%);
  }

  &__main {
    display: flex;
    width: 100%;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 65px;
  }

  &__submit {
    background: var(--orange);
    color: var(--white);
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
  }
}

.chat {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 500px;
    position: absolute;
    border: 1px solid black;
    transform: translate(-50%, -50%);

    header {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: space-between;
      background: var(--light-dark);
      width: 100%;
      padding: 15px 20px;
    }

    footer {
      width: 100%;
      display: flex;
      padding: 10px;
      background: var(--light-dark);
    }
  }

  &__title {
    font-size: 18px;
    color: var(--white);
  }

  &__leave {
    background: var(--white);
    border: none;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  &__send {
    width: 80px;
    cursor: pointer;
    margin-left: 5px;
    background: var(--white);
    font-weight: bold;
  }

  &__main {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__menu {
    width: 250px;
    height: 100%;
    padding: 20px;
    color: var(--white);
    background: var(--orange);
  }

  &__rooms-title,
  &__users-title {
    display: flex;
    align-items: center;
    img {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
  }

  &__room {
    margin-left: 10px;
    padding: 5px;
    background: var(--dark-orange);
  }

  &__users {
    list-style-type: none;
    padding: 0;
  }

  &__user {
    margin: 5px 0 5px 10px;
  }

  &__interface {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    background: var(--light-orange);
    padding: 20px;
  }

  &__message {
    width: 100%;
    height: fit-content;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    background: var(--white);
  }

  &__message-info {
    span:nth-child(1) {
      color: var(--dark-orange);
    }
    span:nth-child(2) {
      margin-left: 5px;
      font-size: 12px;
      color: var(--dark-gray);
    }
  }

  &__message-text {
    margin-top: 5px;
  }
}

label {
  display: flex;
  margin: 10px 0 5px 0;
  color: var(--dark-gray);
}

input,
select {
  width: 100%;
  padding: 0.5em 0.75em;
  border: 2px solid var(--dark-gray);
  outline-style: none;
  box-sizing: border-box;
}
