@import './variables';

body {
  background-color: var(--light-gray);
  width: 100vw;
  height: 100vh;
}

.container {
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  display: flex;
  border-radius: 4px;
  position: absolute;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  border: 2px solid var(--dark-gray);
}

#screen {
  display: flex;
  width: 100%;
  height: 90%;
  font-size: 16px;
  background: var(--white);
}

input {
  width: 90%;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 4px;
  padding: 0.5em 0.75em;
  background-color: var(--white);
  border: 2px solid var(--dark-gray);
}

.message {
  width: 100%;
  display: flex;
  padding: 10px;
  height: fit-content;
}

.new {
  background: var(--gray);
}

textarea:focus,
input:focus {
  outline: none;
}
