:root {
  --white: #fff;
  --gray: #d0d0d0;
  --dark-gray: #939393;
  --light-gray: #f5f5f5;
  --ti-color-bg: #e6e7ed;
  --dark: #000000;
  --light-dark: #20232a;
  --lite-green: #7e9c70;

  --light-orange: #eba285;
  --orange: #fa6b30;
  --dark-orange: #e35013;
}
